# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
app/**/*.js
app/**/*.map
/dist
/tmp

# dependencies
/node_modules
/bower_components
jspm_packages

# IDEs and editors
/.idea
.eslintrc.json

# misc
.sass-cache/
*.css.map
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

