body {
  color: #ccc;
  background-color: #252525;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    color: #5EA0B6;
}
/* reset css */
ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
	list-style: none;
}