/*styles applied on :host are applied on the current component, "app" in this case*/
:host {
    display: block;
}
.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
header {
    font-size: 1em;
    line-height: 2em;
    width: 250px;
    flex-shrink: 2;
}
nav ul {
  margin: 10px;
}
main {
    height: 700px;
    width: 525px;
    padding: 10px;
    margin-top: 10px;
    background-color: #2B2D25;
}
footer {
  align-self: flex-end;
  color: #666;
    text-align: right;
    padding-right: 1em;
    font-size: 0.8em;
    width: 250px;
    flex-shrink: 2;
}
