<div class="container">
  <header>
    <nav>
      <ul>
        <li><a [routerLink]="['Home']">Home</a></li>
        <li><a [routerLink]="['Scene']">Scene</a></li>
        <li><a [routerLink]="['Experiment']">Experiment 1</a></li>
        <li><a [routerLink]="['Experiment2']">Experiment 2</a></li>
        <li><a [routerLink]="['Experiment3']">Experiment 3</a></li>
        </ul>
    </nav>
  </header>
  <main>

    <router-outlet></router-outlet>

  </main>
  <footer>
    {{api.title}}
  </footer>
</div>